<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>To Do App</h1>
    <form action="/" method="post">
        <input type="text" name="gorev">
        <input type="submit" value="Ekle">
    </form>
    <% if (veriler) { %>
        <ul>
            <% for(let i = 0; i < veriler.length; i++) { %>
                <li>
                    <p><%= JSON.stringify(veriler[i].yapilacak_gorev) %></p>
                </li>
              <% } %>
        </ul>
    <% } %>
</body>
</html>